  body{
      font-family: 'Josefin Sans', sans-serif;
      font-size: 20px;
      margin: 0;
      background-size: 100%;
      color: #242423;
      text-align: center;
      background-attachment: fixed;

    }
    /* NAVBAR */
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.right{
margin-left: 45%;
}
/* FIN NAVBAR */



.main {
  display: flex;
  width: 100%;
}
.menu {
  width: 200px;
}
.acorh{
  width:100%;
  padding: 0;
  list-style: none;
  height: 100%;
  font-size: 18px;
  text-align: center;
}
.porCurso{
  outline: 1px solid black;
  margin: 0;
  padding: 0;
  width: 80%;
  /* height: 20%; */
  /* position:absolute; */
  display:block;

}
.porCurso p{
  margin: 0;
  padding: 0;
  display:inline-table;
  text-align: right;

}

/* menu verticsl */
ul.acorh > * {
margin: 0;
padding: 0;
border: none;
}
.img-menu{
    width: 100%;
    /* position: fixed; */
}
.user-menu{
    width: 40%;
}
ul.acorh li {
list-style: none;
}
ul.acorh li a {
display: block;
padding: 35px 10px 10px 20px;
background: rgb(218, 207, 207);
color: rgb(83, 83, 83);
border: 0;
border-bottom: 1px solid rgb(165, 163, 163);
border-top: 1px solid rgb(199, 196, 196);
text-decoration: none;
box-sizing: border-box;
}
ul.acorh li ul {
max-height: 0;
margin: 0;
padding: 0;
list-style: none;
overflow:scroll;
transition: .3s all ease-in;
}
ul.acorh li li a {
padding: 10px 10px 10px 40px;
background: rgb(255, 243, 243);
color: #000;
font-size: 16px;
border: 0;
border-bottom: 1px solid #ccc;
box-sizing: border-box;
}

ul.acorh li:hover ul {
max-height: 300px;
transition: .3s all ease-in;
}
ul.acorh li a:hover {
background: #666;
color: #fff;
}
.ordenado {
  margin-top: 20px;
  left: 200px;
  top: 0;
  width: 100%;
  height: 300px;

}
